.main {
  display: flex;
  width:100%;
  justify-content:space-around;
  align-items:flex-start;
  position: fixed;
  top: 10px;
  font-size: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.wj {
  color: red;
  font-size: 65px !important;
  font-weight: 500px;
  text-align: center;
}

.author {
  text-align: center;
}

.weather-color {
  color: #4cc74c;
  margin-bottom: 4px;
}

.weather_container {
  background-color: #0090CE;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.after_weather {
  display: inline-block;
  margin-right: 5px;
  color: white;
}

.after_weather_date {
  color: red;
  font-size: 60px;
}

@media screen and (max-width: 875px) {
  .main {
    font-size: 14px !important;
  }
  .wj {
    font-size: 14px !important;
    font-weight: normal;
    text-align: center;
  }

  .after_weather_date {
    color: red;
    font-size: 18px;
  }
}