body {
  margin: 0px 0px;
}
.main {
  display: flex;
  width:100%;
  justify-content:space-around;
  flex-direction: column;
  align-items:flex-start;
  position: fixed;
  /*top: 10px;*/
  font-size: 50px;
}

.content, .train{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width:100%;
}

.wj {
  color: red;
  font-size: 65px !important;
  font-weight: 500px;
  text-align: center;
  padding-top: 10px;
}

.author {
  text-align: center;
}

.weather-color {
  color: #4cc74c;
  margin-bottom: 4px;
}

.weather_container {
  background-color: #0090CE;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.after_weather {
  display: inline-block;
  margin-right: 5px;
  color: white;
}

.after_weather_date {
  color: red;
  font-size: 60px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (max-width: 875px) {
  .main {
    font-size: 14px !important;
    position: relative;
  }

  .train {
    margin-right: 9px;
  }

  .wj {
    font-size: 14px !important;
    font-weight: normal;
    text-align: center;
  }

  .after_weather_date {
    color: red;
    font-size: 18px;
  }

  .from_to {
    line-height: 35px !important;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 6px 0px;
  }

  .arrow {
    display: inline-block;
    width: 16px;
    height: 12px;
    background-image: url("../asset/arrow-small-right.png");
    background-repeat: no-repeat;
    margin-top: 15px;
  }

  .leargeArrow img {
    width: 80%;
    height: 15px;
    /*background-image: url("../asset/arrow-large-right.png");*/
    /*background-repeat: no-repeat;*/
  }

  .location-input {
    height: 35px !important;
    border: none;
    padding: 0px 0px;
    flex-grow: 1;
    text-align: center;
  }

  .out-date {
    height: 40px;
    position: relative;
    border-bottom: 1px solid #ccc;
  }

  .date-text {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px 0px;
    font-size: 10px;
    color: #ccc;
  }

  .date {
    display: inline-block;
    height: 40px;
    line-height: 55px;
  }

  .submit {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #4d90fe;
    color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
  }

  .list {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /*height: 100%;*/
    z-index: 4;
    overflow: scroll;
  }

  .tickets {
    width: 100%;
    margin-top:10px;
  }

  .tickets-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .station-message, .station-ticket-num {
    width: 100%;
    display: flex;
    /*justify-content:space-around;*/
    padding-bottom: 5px;
  }

  .station-ticket-num span {
    flex-grow: 1;
  }

  .No {
    width: 50px;
    padding-left: 5px;
    height: 40px;
    color: black !important;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
  }

  .start {
    width: 80px;
    height: 40px;
  }

  .end {
    width: 80px;
    height: 40px;
    float: right;
  }

  .range {
    flex-grow: 1;
  }

  .stime, .eTime {
    font-size: 12px;
    color: #66CCFF;
  }

  .station-ticket-num span {
    color: #ccc;
    font-size: 12px;
  }

  .delp_black {
    color: black !important;
    font-weight: 500;
  }

  .guo {
    background-color: #07f;
    border-radius: 5px;
    border: 1px solid #07f;
    font-size: 8px;
    color:#fff;
  }

  .shi {
    background-color: #FF6633;
    border-radius: 5px;
    border: 1px solid #FF6633;
    font-size: 8px;
    color:#fff;
  }

  .timeArr {
    color: #B8B8B8;
    font-size: 12px;
  }

  .stationTitle{
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
  }

  .errorMessage {
    color: #26a306;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
  }

  .disabled {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color:  #ccc;
    color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
  }
}